@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #1C8D73;
    --white-color: #fff;
    --black-color: #000;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.display-output {
    text-align: center;
    width: 18rem;
    height: 100%;
    padding: 1rem 0;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    box-shadow: 0.7rem 0.7rem 1rem var(--black-color);
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.textbox-container textarea {
    width: 100%;
    height: 10rem;
    outline: none;
    border: none;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    padding: 0.3rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 2rem var(--black-color);
}

@media screen and (min-width: 780px) {
    .display-output {
        width: 30rem;
    }

    .textbox-container textarea {
        height: 14rem;
    }
}

@media screen and (max-width: 780px) {
    .display-output {
        width: 30rem;
    }

    .textbox-container textarea {
        height: 14rem;
    }
}

@media screen and (max-width: 500px) {
    .display-output {
        width: 20rem;
    }
}

@media screen and (max-width: 380px) {
    .display-output {
        width: 15rem;
    }
}

@media screen and (max-width: 250px) {
    .display-output {
        width: 12rem;
    }
}


